@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Lora&display=swap');

a{
	font-family: 'Arapey', serif;
	font-size: 16px;
}

p{
	font-family: 'Lora', serif;
	font-size: 1em;
}

a.intext:hover{
	background-color:rgb(255, 230, 230);
}

pre{
	color: rgb(248, 248, 242);
}

.button{
	text-decoration: none;
	border: 1px solid #BABABA;
	padding: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 24px;
	color: #85837B;
}

.submit{
	font-family: 'Lora', serif;
	background-color: #EECECE;
	color: #F7F7F7;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
	padding: 0.3rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.reset{
	font-family: 'Arapey', serif;
	color: #EECECE;
	background-color: #F7F7F7;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
	padding: 0.3rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

input{
	color: #BABABA;
	font-size: 18px;
	font-family: 'Lora', serif;
	padding-left: 0.5rem;
}

.jade{
	margin: auto;
	width: 100px;
	height: 100px;
	background-color: #7E7F7A;
}

.Olive{
	margin: auto;
	width: 100px;
	height: 100px;
	background-color: #85837b;
}

.grey{
	margin: auto;
	width: 100px;
	height: 100px;
	background-color: #bababa;
}

.smoke{
	margin: auto;
	width: 100px;
	height: 100px;
	background-color: #6e7376;
}

.pink{
	margin: auto;
	width: 100px;
	height: 100px;
	background-color: #e3a6ae;
}

.lightpink{
	margin: auto;
	width: 100px;
	height: 100px;
	background-color: #eecece;
}

.lightgrey{
	margin: auto;
	width: 100px;
	height: 100px;
	background-color: #f7f7f7;
}

.grey-blue{
	margin: auto;
	width: 100px;
	height: 100px;
	background-color: #b7cbcb;
}

h1{
	font-family: 'Arapey', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 60px;
	color: #7E7F7A
}

h2, h5{
	font-family: 'Arapey', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	color: #7E7F7A;
}

h3{
	font-family: 'Arapey', serif;
	text-align: center;
	font-weight: 100;
	font-size: 24px;
	color: #85837B;
}

h5{
	font-size: 5em;
}

p, li{
	font-family: 'Lora', serif;
	font-size: 18px;
	color: #85837B;
}


.title, .titleFooter{
	font-family: 'Sacramento';
	font-size: 40px;
	margin-top: 0%;
	margin-left: 3%;
	color: white;
}

body{
	background-color: #F7F7F7;
}

.suggestImg{
	margin: auto;
	height: 252px;
	width: 252px;
	background-color: white;
}

.cartB{
	border-top: 1px solid #BABABA;
}

.cartGrid{
	border-bottom: 1px solid #BABABA;
}

.cartItem{
	border-bottom: 1px solid #BABABA;
}

.number{
	margin: auto;
	width: 3rem;
	height: 1.5rem;
	text-align: center;
}

/*-----------------------------SINGLE PRODUCT PAGE-------------------------------------*/

.navigrid{
	margin-top: 3.5rem;

}
a.back{
	margin-top: 3rem;
}
.mainImg{
	margin-top: 4rem;
	margin-left: 3rem;
}
.infor{
	margin-left: 11%;
	position: relative;
	top: -20px;

}
.details{
	
}
.detailName{
	margin-top: 5rem;
}

.mainImg{
	width: 445px;
	height: 445px;
}

.miniImg{
	margin-top: 10px;
	width: 100px;
	height: 100px;
	margin-left: 3%;
	margin-right: 3%;
	background-color: white;
}

.white{
	width: 20px;
	margin-right: 10px;
	height: 20px;
	border: 0.5px solid black;
	float: left;
	background-color: #ECEBE7;
	border-radius: 90px;
}

.greyC{
	width: 20px;
	margin-right: 10px;
	height: 20px;
	border: 0.5px solid black;
	float: left;
	background-color: #7C511F;
	border-radius: 90px;
}

.black{
	width: 20px;
	height: 20px;
	border: 0.5px solid black;
	float: left;
	background-color: #B5A382;
	border-radius: 90px;
}

.single-submit{
	font-family: 'Lora', serif;
	background-color: #EECECE;
	color: #F7F7F7;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
	padding: 0.3rem;
	padding-left: 3rem;
	padding-right: 3rem;
}
.single-submibutton{
	position :relative;
	top: -400rem;
}
.interactB{
	text-decoration: none;
}
.midImg{
	width: 100%;
	height: 250px;
	margin-top: 5px;
	background-image: url(../images/cup3.jpg);
	background-repeat: no-repeat;
	background-position: center top +71%;
	background-size: cover;
	
}

a.icon1{
	width: 18px;
	height: 32px;
}

.single-discription{
	margin-top: 5rem;
}

.recommend{
	margin-top: 5rem;
}
h2.recommend{
	text-align: left;
	margin-bottom: 0.3rem;
}
.line{
	border-bottom: 1px solid #85837B;
	margin-bottom: 3rem;
}
.recomImg:: after {
	content: "";
	display: table;
	clear: both;
}
.recomImg1{
	float: left;
	width: 200px;
	height: 200px;
	background-image: url(../images/img1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: top;
	margin-left: 1rem;
}
.recomImg2{
	float: left;
	width: 200px;
	height: 200px;
	background-image: url(../images/img5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: top;
	margin-left: 2rem;
}
.recomImg3{
	float: left;
	width: 200px;
	height: 200px;
	background-image: url(../images/img3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: top;
	margin-left: 2.5rem;
}
.recomImg4{
	float: left;
	width: 200px;
	height: 200px;
	background-image: url(../images/img4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: top;
	margin-left: 2rem;
}
.recomtext:: after {
	content: "";
	display: table;
	clear: both;
	margin-left: 2rem;
}
p.recomtext1{
	float: left;
	margin-left: 1.7rem;
}
p.recomtext2{
	float: left;
	margin-left: 4.5rem;
}
p.recomtext3{
	float: left;
	margin-left: 5.5rem;
}
p.recomtext4{
	float: left;
	margin-left: 5rem;
}
	
/*-----------------------------HOME PAGE-------------------------------------*/


.homeImg{
	width: 100%;
	height: 39em;
	background-image: url(../images/homeImg.png);
	background-size: 100% 40em;
}

.logline{
	font-family: 'Arapey', serif;
	font-style: italic;
	margin: auto;
	width: 30%;
	text-align: center;
	font-size: 1.5em;
}

.loglineA{
	font-family: 'Arapey', serif;
	font-style: italic;
	margin: auto;
	padding-left: 20%;
	width: 30%;
	text-align: center;
	font-size: 1.5em;
}

.special{
	margin: 0;
	font-size: 6em;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform: rotate(180deg);
	text-align: center;
	position: relative;
    left: 1em;
}

.cardName{
	margin-bottom: 0;
}

.titleFooter{
	font-size:4.5em;
	margin: 0;
	margin-left: 0.5em;
}
